<script>
  import meme from '/meme.jpg'
  import Transactions from './components/Transactions.svelte'
  import BalanceHistory from './components/BalanceHistory.svelte';

  import axios from 'axios';

  const SERVER_BASE = 'http://localhost:6069/';
  
	export let colors = {
    foreground: '#ffffff',
		primary: '#ff6666',
		secondary: '#ffff66',
    positive: '#33ff33',
    negative: '#ff3333',
	};

  let state = null;
  let transactions = null;
  let selected_transaction = null;
  let selected_date = null;

  function getTransactions() {
    const path = 'transactions?remove_venmo_duplicates=true&remove_transfers=true';
    state = 'loading';
    axios.get(SERVER_BASE + path)
      .then(response => {
        state = 'transactions';
        transactions = response.data;
      })
      .catch(error => {
        state = 'error';
        console.error(error);
      })
  }

  function select_date(date) {
    selected_date = date;
    selected_transaction = transactions.find((t) => {
      const date_1 = new Date(date);
      const date_2 = new Date(t.date)
      date_1.setHours(0, 0, 0, 0);
      date_2.setHours(0, 0, 0, 0);
      return date_2.valueOf() >= date_1.valueOf();
    });
  }

  function select_transaction(transaction) {
    selected_transaction = transaction;
    selected_date = transaction.date;
  }
</script>

<main>
  <h1>dollars</h1>
    {#if state == 'transactions'}
      <div id="balance-history">
        <BalanceHistory
          transactions={transactions}
          starting_balance={0}
          selected_date={selected_date}
          on_date_selected={(date) => select_date(date)}
          colors={colors}
        />
      </div>
      <div id="transactions">
        <Transactions
          transactions={transactions}
          selected_transaction={selected_transaction}
          on_transaction_selected={(t) => select_transaction(t)}
          colors={colors}
        />
      </div>
    {:else}
      <button on:click={getTransactions}>Uncategorized</button>
      <img src={meme} class="logo" alt="meme" />
    {/if}
</main>

<style>
  main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 100%;
  }

  #transactions {
    width: 100%;
    max-width: 100ch;
    margin: auto;
    overflow-y: auto;
  }
  
  #balance-history {
    height: 100px;
    width: 100%;
  }
</style>
