<script>
	export let transactions = [];
	export let starting_balance = 0;
	export let colors = {
		primary: '#dddddd',
		secondary: '#ffffff',
	};
	export let selected_date = null;
	export let on_date_selected = (date) => {};

	import Chart from 'chart.js/auto';
	import ChartAnnotation from 'chartjs-plugin-annotation';
	Chart.register(ChartAnnotation);

	let canvas;
	let chart;
	let start_date;

	$: canvas, colors, transactions, starting_balance, refresh();
	$: selected_date, draw_selection_cursor();
	$: transactions, update_start_date();

	function update_start_date() {
		start_date = (transactions.length > 0) ? new Date(transactions[0].date) : null;
	}

	function refresh() {
		if (chart)
			chart.destroy();

		if (!transactions)
			return;

		const balance_history = calc_balance_history(transactions, starting_balance);
		init_chart(balance_history);
	}

	function init_chart(data) {
		if (!canvas || chart)
			return;

		const border_transparent = colors.primary + '88'; // assumes color does not include alpha already
		const selected_index = date_to_index(selected_date);
		const date_labels = data.map((obj, i) => (
			new Date(new Date(start_date).setDate(start_date.getDate() + i)).toDateString()
		));
		chart = new Chart(
			canvas,
			{
				type: 'line',
				data: {
					labels: date_labels,
					datasets: [
						{
							data,
							borderColor: colors.primary,
							backgroundColor: border_transparent,
							pointStyle: 'circle',
							pointRadius: 2,
							pointHoverRadius: 8
						}
					]
				},
				options: {
					responsive: true,
					maintainAspectRatio: false,
					onClick: (event, elements, chart) => {
						if (elements.length == 0)
							return;

						const new_date = new Date(start_date);
						new_date.setDate(start_date.getDate() + elements[0].index);
						select_date(new_date);
					},
					plugins: {
						legend: {
							display: false,
						},
						annotation: {
							annotations: {
								selection: selected_date && {
									type: 'line',
									xMin: selected_index,
									xMax: selected_index,
									borderColor: colors.secondary,
									borderWidth: 2,
								}
							}
						}
					},
					scales: {
						x: {
							border: {
								display: false,
							},
							grid: {
								display: false,
							},
							ticks: {
								display: false,
							}
						},
						y: {
							border: {
								display: false,
							},
							grid: {
								display: false,
							},
							ticks: {
								display: false,
							}
						}
					}
				}
			}
		)
	}

	function select_date(date) {
		date = date;
		on_date_selected(date);
	}

	function draw_selection_cursor() {
		if (!chart)
			return;

		const selected_index = date_to_index(selected_date);
		chart.options.plugins.annotation.annotations.selection = selected_date && {
				type: 'line',
				xMin: selected_index,
				xMax: selected_index,
				borderColor: colors.secondary,
				borderWidth: 2,
			}
		chart.update();
	}

	function date_to_index(date) {
		if (!start_date)
			return -1;

		const day_in_ms = 1000 * 60 * 60 * 24;
		return Math.floor((new Date(date).getTime() - start_date.getTime()) / day_in_ms);
	}

	/* Daily ending balances as an array of floats. */
	function calc_balance_history(transactions, starting_balance) {
		transactions = transactions?.sort((t) => t.date)
			.map((t) => ({...t, date: Date.parse(t.date)}))
			?? [];
		if (transactions == [])
			return [];

		const end_date = new Date(Date.now());

		const history = [];
		let balance = starting_balance || 0;
		let i_transaction = 0;
		for (let i_date = new Date(start_date); i_date <= end_date; i_date.setDate(i_date.getDate() + 1)) {
			if (i_transaction < transactions.length) {
				let t_date = new Date(transactions[i_transaction].date);
				while (are_dates_equal(t_date, i_date) && i_transaction < transactions.length) {
					balance += transactions[i_transaction].amount;
					t_date = new Date(transactions[i_transaction].date);
					i_transaction++;
				}
			}

			history.push(balance);
		}

		return history;
	}

	function are_dates_equal(date_1, date_2) {
		return date_1.getFullYear() == date_2.getFullYear() && 
			date_1.getMonth() == date_2.getMonth() &&
			date_1.getDate() == date_2.getDate();
	}
</script>

<div class='fill-parent'>
	<canvas bind:this={canvas}></canvas>
</div>

<style>
	.fill-parent {
		height: 100%;
		width: 100%;
	}
</style>