<script>
  export let transactions = [];
  export let selected_transaction = null;
  export let on_transaction_selected = (t) => {};
  export let colors = {
    positive: '#00ff00',
    negative: '#ff0000',
    secondary: '#ffffff',
    foreground: '#ffffff',
  };

  $: selected_transaction, scroll_to_selected();

  const money_formatter = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'USD',
  });

  function scroll_to_selected() {

    if (!select_transaction)
      return;

    const id = transaction_to_string(selected_transaction);
    const selected = document.getElementById(id);
    if (!selected) {
      console.error(`Failed to find row with ID: ${id}`);
      return;
    }

    selected.scrollIntoView({block: 'center', behavior: 'smooth'})
  }

  function select_transaction(transaction) {
    selected_transaction = transaction;
    on_transaction_selected(transaction);
  }

  function transaction_to_string(transaction) {
    if (!transaction)
      return false;

    const str = '' + transaction.date + transaction.amount + transaction.description
    return str.replaceAll(' ', '');
  }

  function colors_to_style() {
    return `
      --positive: ${colors.positive};
      --negative: ${colors.negative};
      --primary: ${colors.primary};
      --secondary: ${colors.secondary};
      --secondary-faded: ${colors.secondary + '88'};
      --foreground: ${colors.foreground};
    `;
  }
</script>

<main style={colors_to_style()}>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Description</th>
        <th class='money'>Amount</th>
      </tr>
    </thead>
    <tbody>
      {#each transactions as transaction}
        <tr
          id={transaction_to_string(transaction)}
          class={(transaction == selected_transaction) ? 'selected' : ''}
          on:click={() => select_transaction(transaction)}
        >
          <td>{transaction.date}</td>
          <td>{transaction.type}</td>
          <td>{transaction.description}</td>
          <td class={[
            'money',
            ( transaction.amount < 0 && 'negative' ||
              transaction.amount > 0 && 'positive' )
          ].join(' ')
          }>{money_formatter.format(transaction.amount)}</td>
        </tr>
      {/each}
    </tbody>
  </table>
</main>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
    color: var(--foreground);
  }

  thead th {
    position: sticky;
    top: 0;
    background-color: var(--primary);
  }

  th, td {
    padding: .5em;
  }

  tr > * {
    text-align: start;
  }

  tr > .money {
    text-align: end;
  }

  tr.selected {
    background: var(--secondary-faded);
  }

  td.money {
    font-family: monospace;
    font-size: 1.2em;
  }

  .negative {
    color: var(--negative);
  }

  .positive {
    color: var(--positive);
  }
</style>